.ant-menu-title-content {
  white-space: normal !important; /* Cho phép xuống dòng */
  word-break: break-word; /* Ngắt từ khi dài quá */
  line-height: 1.3; /* Dãn dòng một chút */
}

.ant-menu-submenu {
  margin-bottom: 6px;
}

.ant-menu-submenu-title {
  height: 45px !important;
}

.ant-menu-item {
  height: 35px !important;
  padding-left: 30px !important;
}

.menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

.menu-sidebar .ant-menu-root > .ant-menu-item:first-child {
  padding-inline: 26px !important;
  color: white;
}

/* Nếu muốn khi hover vẫn giữ màu cam */
.menu-sidebar .ant-menu-submenu .ant-menu-item:hover {
  background-color: #fb8500 !important;
  color: white !important;
}

/* Nếu muốn khi chọn active */
.menu-sidebar .ant-menu-submenu .ant-menu-item-selected {
  background-color: #fb8500 !important;
  color: white !important;
}

/* Menu root: item đầu tiên được chọn */
.menu-sidebar .ant-menu-root > .ant-menu-item:first-child.ant-menu-item-selected {
  background-color: orange !important;
  padding-inline: 26px !important;
  color: white !important;
}

.menu-sidebar .ant-menu-submenu-arrow {
  color: white;
}
