.ant-menu-title-content {
  white-space: normal !important; /* Cho phép xuống dòng */
  word-break: break-word; /* Ngắt từ khi dài quá */
  line-height: 1.3; /* Dãn dòng một chút */
}

.ant-menu-submenu {
  margin-bottom: 6px;
}

.ant-menu-submenu-title {
  height: 45px !important;
}

.ant-menu-item {
  height: 35px !important;
  padding-left: 30px !important;
}

.menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

.menu-sidebar .ant-menu .ant-menu-item:first-child {
  /* padding-inline: 26px !important; */
}
